<div class="home-container">
  <div id="home-header">

      <%= image_tag "pictorial_websters/octopus.png", id: "octopus" %>

      <div id="header-background" class="background-green">
        <h1 id="chineur" class="text-amiri text-bold text-italic text-50px"> Chineur </h1>
        <h1 id="denicheur" class="text-amiri text-bold text-italic text-50px"> Dénicheur </h1>
      </div>

  </div>
</div>

<div id="last-items">
  <div class="home-container">

    <h1 class="text-32px"> - Mes dernières trouvailles - </h1>
    <p class="text-light text-16px"> Découvre tous mes trésors, catégorie par catégorie ! </p>


    <div class="item">


      <div class="item-photo">

      </div>


      <div class="item-description">
        <h3 class="item-title"> Langouste Ecrasée </h3>
        <p> Post quorum necem nihilo lenius ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est, excedamus. </p>

        <%= mail_to "marc.guerin@gmail.com", "En Savoir Plus" %>

      </div>

    </div>

  </div>
</div>

<div class="home-container">
  <div class="margin-top-50px">
    <h1 class="text-32px"> - Catégories - </h1>
    <p class="text-light text-16px"> Découvre tous mes trésors, catégorie par catégorie ! </p>


  </div>


  <%= "Coucou "%>
  <p> <%= @curiosite_category.name %></p>


  <%= link_to admin_category_path(@curiosite_category.id) do %>
    <p> Curiosités </p>
  <% end %>


</div>



<br>
<br>
<br>
<br>

<br>
<br>
<br>


<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
